<div class="container shadow bg-gradient">
    <div class="row mt-3">
        <h4 class="text-start p-1 bg-dark text-light  rounded border p-2">Hard & Soft Skills</h4>
    </div>
    <div class="row">
        <div class="ng-for-block" *ngFor="let Skill of portfolio">
            <div class="row justify-content-center">
                <div class="col-6">
                    <h5> {{ Skill.tech }} </h5>
                </div>
                <div class="col-2">
                    <img src={{Skill.image}} alt="logo skill" width="50px">
                </div>
            </div>
            <div class="float-end" *ngIf="_isLogged">
                <button class="btn btn-light" routerLink="/editSkill/{{Skill.id}}">
                    <i class="bi bi-pencil-fill mtmt-3"></i> Edit</button>

                <button class="btn btn-danger" (click)="delete(Skill.id)">
                    <i class="bi bi-trash-fill mt-mb-3"></i> Delete</button>
            </div>
        </div>
        <div class="row" *ngIf="_isLogged">
            <div>

                <form (ngSubmit)="onCreate($event)" novalidate #f="ngForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="tech">Tecnología/Habilidad</label>
                        <input type="text" class="form-control" id="tech" name="tech" [(ngModel)]="tech" required
                            placeholder="Ingresar tecnología o habilidad">
                    </div>
                    <div class="form-group mt-2">
                        <label for="image">Imagen</label>
                        <input type="url" (change)="selectFile($event)" class="form-control" [(ngModel)]="image"
                            name="url" required>

                    </div>
                    <button class="btn btn-primary mt-3">
                        Add Skill
                    </button>
                </form>
            </div>
        </div>
        😏💥🚀
    </div>

</div>